@charset "UTF-8";

/* Typical Device Breakpoints
--------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 600px){

    div#links{
        display: flex;
        justify-content: space-evenly;
    }
    
    section#topo2 p{
        background-color: white;
        box-sizing: border-box;
    }
    
    section#topo2 p > a{
        color: black;
        font-size: 0.9em;
    }
    section#topo2 p > a:hover{
        background-color: rgb(5, 49, 108);
        color: white;
        border-radius: 20px;
        padding: 11px 20px;
        font-size: 1em;

        transition: 0.5s;
    }
    
}

@media screen and (min-width: 600px) and (max-width:992px) {
    div#conthead, div#atend{
        justify-content: space-evenly;
    }
    div#imgtopo{
        background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-slider-data/images/1.jpg) no-repeat top center ;
        background-size: cover;
        margin: 0px;
        width: 100%;
        height: 190px;
    }
    main > section#principal {
        align-items: center;
    }
    section#principal > p{
        width: 85%;
        max-width: 650px;
    }
    
    section#principal .saibamais{
        width: 200px;
        margin-left: 10px;
        margin-bottom: 50px;
    }
    
    section#principal > div#imgp{
        margin: auto;
    }
    article#extras{
        margin-top: 50px;
    }
    section#principal > div#imgp{
        max-width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    section#topo1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    div#conthead{
        align-items: center;
    }
    
    #conthead .div1{
        justify-content: center;
        width: 300px;
    }
    
    div#atend{
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        width: 600px;
    }
}