@charset "UTF-8";

/* Typical Device Breakpoints
--------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 600px){
    div#links{
        display: flex;
        justify-content: space-evenly;
    }
    div#imgtopo{
        background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-slider-data/images/1.jpg) no-repeat center center ;
        background-size: cover;
        margin: 0px;
        width: 100%;
        height: 25vw;
    }
    section#topo2 p{
        background-color: white;
        box-sizing: border-box;
    }
    section#topo2 p > a{
        color: black;
        font-size: 0.9em;
    }
    section#topo2 p > a:hover{
        background-color: rgb(5, 49, 108);
        color: white;
        border-radius: 20px;
        padding: 11px 20px;
        font-size: 1em;

        transition: 0.5s;
    }
    section#principal  p{
        max-width: 533px;
    }
    section#principal .saibamais{
        width: 200px;
    }
    article#extras{
        flex-flow: row wrap;
        justify-content: space-evenly;
    }    
}

@media screen and (min-width: 814px) {
    section#topo1{
        display: flex;
        justify-content: space-evenly;
    }
    #conthead .div1{
        height: 50px;
        width: 150px;
        gap: 5px;
    }
    #conthead #idiv1{
        width: 210px;
    }
    div#atend{
        align-items: center;
        gap: 10px;
    }
    footer{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    footer #contato{
        width: 96%;
        max-width: 900px;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    #contato div{
        flex-direction: column;
    }
    footer #by{
        width: 96%;
    }
}
@media screen and (min-width: 992px) {
    main > section#principal{
        flex-flow: row wrap;
    }
}
@media screen and (min-width: 1038px) {
    #formulario form{
        width: 1000px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }
    form #inputs1{
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: center;
    }
    #formulario input{
        width: 400px;
    }
    #formulario #itxtbox{
        width: 400px;
    }
    #formulario input[type=submit]{
        width: 1000px;
    }
}

@media screen and (min-width: 600px) and (max-width:992px) {
    div#conthead, div#atend{
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1200px) {
    section#topo1{
        justify-content: center;
    }
    #conthead .div1{
        margin-right: 30px;
    }
    section#topo2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 25px;
    }
    section#topo2 h1{
        margin: 0px;
    }
    div#links{
        margin: 0px;
        gap: 15px;
    }
}