@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');


*{
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

section#topo1{
    width: 100%;
    background-color: rgb(5, 49, 108);
    color: white;
}

div#conthead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 10px;

}

#conthead .div1{
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

div#conthead span{
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    color: rgb(5, 49, 108);
}

div#atend{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

div#atend a{
    color: white;
    text-decoration: none;

    font-size: 0.85em;
    padding: 14px;
    border-radius: 30px;
}

a.wpp{
    background-color: rgb(29, 171, 29);
}
a.wpp:hover{
    background-color: rgb(23, 148, 23);
}

a.on{
    background-color: rgb(0, 170, 170);
}
a.on:hover{
    background-color: rgb(0, 143, 143);
}

section#topo2{
    background-color: white;
    text-align: center;
}

section#topo2 a{
    text-decoration: none;
}

section#topo2 h1{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 2.5em;
    margin: 25px 0px;
}
div#links{
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 40px 40px 40px;
    gap: 2px;
}

section#topo2 p{
    background-color: rgb(5, 49, 108);
    color: white;
    
    padding: 10px;
    margin: 0px;
    font-weight: bold;
}

section#topo2 p > a{
    color: white;
    font-size: 1em;
}

section#topo2 #cont{
    grid-column-start: 1;
    grid-column-end: 3;
}

main > section#principal {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

section#principal #main1{
    margin-bottom: 30px;
}

section#principal h1{
    font-family: 'Noto Sans', sans-serif;
    width: 220px;
    font-size: 2em;
}

section#principal p{
    color: rgb(141, 141, 141);
    font-size: 1.1em;
    text-align: justify;
    padding: 2px 10px;
    max-width: 90vw;
    margin: 0px 30px 20px 0px;
}

section#principal .saibamais{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#principal a{
    background-color: rgb(100, 0, 0);
    color: white;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 1.15em;
    border-radius: 10px;
}
section#principal a:hover{
    width: 100%;
    height: 80%;
    transition: 0.5s;
}

section#principal div#imgp{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-01.jpg) no-repeat;
    background-size: cover;
    
    width: 98%;
    max-width: 438px;
    height: 400px;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
}

article#extras{
    background-color: rgb(7, 50, 106);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding: 30px;
}

#extras > a.ext{
    border: 1px solid rgb(84, 102, 120);
    border-radius: 10px;
    text-decoration: none;

    width: 305px;
    height: 520px;
    margin-bottom: 30px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#extras > a.ext:hover{
    background-color: rgb(33, 68, 113);
    transition: 0.7s;
}

a.ext > div{
    width: 90%;
    height: 150px;
    margin-top: 20px;
}
a.ext > h1{
    color: white;
    margin-top: 40px;
}

a.ext > p{
    color: white;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    line-height: 1.9em;
}

a.ext > .button{
    background-color: rgb(100, 0, 0);
    color: white;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px 10px;
}

#extras > a.ext > #img1{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-02-01.jpg) no-repeat;
    background-size: cover;
}
#extras > a.ext > #img2{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-02-02.jpg) no-repeat;
    background-size: cover;
}
#extras > a.ext > #img3{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-02-03.jpg) no-repeat;
    background-size: cover;
}

#artc2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
#artc2:hover{
    opacity: 1;
    transition: 1s;
}

#artc2 h1{
    max-width: 180px;
    font-size: 2em;
    padding: 20px 0px;
}

#artc2 article#formulario{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#formulario #inputs1, #inputs2{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#formulario input{
    background-color: rgb(221, 221, 221);
    width: 90%;
    height: 58px;

    margin-bottom: 8px;
    border-radius: 5px;
    border: 0px;
}

#formulario #itxtbox{
    background-color: rgb(221, 221, 221);
    width: 90%;
    padding-top: 20px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 5px;
}

#formulario input[type=submit]{
    background-color: rgb(100, 0, 0);
    color: white;
    font-size: 1.2em;
    width: 100%;
    margin: 20px 0px;
}
#formulario input[type=submit]:hover{
    cursor: pointer;
}

#formulario iframe{
    width: 100%;
    height: 400px;
}

footer{
    background-color: rgb(7, 50, 106);
    color: white;
}

footer #contato{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#contato h1{
    padding: 10px 0px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}
#contato div{
    display: flex;
    flex-direction: column;
}
#contato h3{
    margin: auto;
    padding: 15px 0px;
    font-size: 1.1em;
}
#contato p{
    margin: 10px;
}
#contato ul{
    padding: 0px;
}

#contato li > a{
    font-size: 0.85em;
    border-radius: 30px;
    margin: 15px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contato span{
    padding: 0px 5px;
}

#contato a.on{
    padding: 8px 38px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer #by{
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    border-top: 1px solid white;
    text-align: center;
    font-size: 0.9em;
    padding: 15px;
}