@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

section#topo1{
    width: 100%;
    background-color: rgb(5, 49, 108);
    color: white;
}

div#conthead{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div#conthead span{
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    color: rgb(5, 49, 108);
}

div#atend{
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

div#atend a{
    color: white;
    text-decoration: none;

    font-size: 0.85em;
    padding: 15px;
    border-radius: 30px;
}

div#atend a#wpp{
    background-color: rgb(29, 171, 29);
}
div#atend a#wpp:hover{
    background-color: rgb(23, 148, 23);
}

div#atend a#on{
    background-color: rgb(0, 170, 170);
}
div#atend a#on:hover{
    background-color: rgb(0, 143, 143);
}

section#topo2{
    background-color: white;
    text-align: center;
}

section#topo2 a{
    text-decoration: none;
}

section#topo2 h1{
    color: blue;
    font-size: 2em;
}

section#topo2 table{
    width: 100%;
    height: 100%;
}

section#topo2 td{
    background-color: rgb(5, 49, 108);
    color: white;
    
    width: 50%;
    padding: 12px;
    font-weight: bold;
}

section#topo2 td > a{
    color: white;
    font-size: 1em;
}

main > section#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

section#principal > h1{
    max-width: 220px;
    font-size: 2em;
}

section#principal > p{
    color: rgb(141, 141, 141);
    font-size: 1.1em;
    text-align: justify;
    padding: 10px 10px;
}

section#principal > a{
    background-color: rgb(100, 0, 0);
    color: white;
    width: 85%;

    text-decoration: none;
    font-size: 1.15em;

    border-radius: 10px;
    margin-bottom: 30px;
    padding: 22px;
}
section#principal > a:hover{
    width: 100%;
    padding: 25px;
    margin-bottom: 24px;
    transition: width .8s, padding 0.5s, margin 0.5s;
}

section#principal > div#imgp{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-01.jpg) no-repeat;
    background-size: cover;
    
    margin: auto;
    margin: 50px 0px;
    width: 95%;
    height: 400px;
    box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
}

article#extras{
    background-color: rgb(7, 50, 106);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;
}

#extras > a.ext{
    border: 1px solid rgb(84, 102, 120);
    border-radius: 10px;
    text-decoration: none;

    width: 75%;
    height: 520px;
    margin-bottom: 30px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#extras > a.ext:hover{
    background-color: rgb(33, 68, 113);
}

a.ext > div{
    width: 90%;
    height: 150px;
    margin-top: 20px;
}
a.ext > h1{
    color: white;
    margin-top: 40px;
}

a.ext > p{
    color: white;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    line-height: 1.9em;
}

a.ext > .button{
    background-color: rgb(100, 0, 0);
    color: white;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px;
}

#extras > a.ext > #img1{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-02-01.jpg) no-repeat;
    background-size: cover;
}
#extras > a.ext > #img2{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-02-02.jpg) no-repeat;
    background-size: cover;
}
#extras > a.ext > #img3{
    background: black url(https://www.projetoweb.com.br/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-02-03.jpg) no-repeat;
    background-size: cover;
}

article#formulario{
    width: 100%;
    opacity: 0.5;

    margin: 20px 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}
article#formulario:hover{
    opacity: 1;
    transition: 1s;
}

#formulario h1{
    width: 150px;
    font-size: 1.8em;
}

#formulario input{
    background-color: rgb(221, 221, 221);
    width: 90%;
    height: 50px;

    margin-bottom: 8px;
    border-radius: 5px;
    border: 0px;
}
#formulario #itxtbox{
    background-color: rgb(221, 221, 221);
    width: 90%;
    padding-top: 20px;
    border: 0px;
    margin-bottom: 5px;
}

#formulario input[type=submit]{
    background-color: rgb(100, 0, 0);
    color: white;
    font-size: 1.1em;
}

#formulario iframe{
    margin: auto;
    width: 95%;
    height: 400px;
}